.container {
  width: 500px;
  height: 400px;

  background-color: white;
  border-radius: 8px;
  padding: 20px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input {
  width: 400px;
  padding: 8px 0;          
  border: none;             
  border-bottom: 2px solid #ccc; 
  outline: none;            
  font-size: 16px;
  transition: border-color 0.3s;
}

.input:focus {
  border-bottom-color: black;
}

.input::placeholder {
  color: #888;
  font-style: italic;
}

.add-btn{
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #959595;
  padding: 8px 16px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s;
}

.add-btn:hover{
  background-color: black;
}