body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  color: var(--text-color);
}

.container {
  width: 525px;
  height: 600px;

  background-color: var(--container-bg);
  border-radius: 8px;
  padding: 20px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.theme-btn{
  position: absolute;
  top: 20px;
  right: 30px;

  background-color: var(--accent-color);
  color: white;
  font-weight: bold;
  font-size: 0.85rem;

  border: none;
  border-radius: 20px;
  padding: 6px 14px;

  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.theme-btn:hover{
  background-color: var(--accent-hover);
  transform: scale(1.05);
}

.content {
  flex: 1;
  overflow-y: auto;
}

.input {
  width: 408px;
  padding: 8px 0;          
  border: none;             
  border-bottom: 2px solid var(--border-color);
  outline: none;            
  font-size: 1rem;
  transition: border-color 0.3s;
  background-color: transparent;
  color: var(--text-color);
}

.input:focus {
  border-bottom-color: var(--accent-hover);
}

.input::placeholder {
  color: var(--placeholder-color);
  font-style: italic;
}

.add-btn{
  color: var(--container-bg);
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--btn-color);
  padding: 8px 16px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s;
}

.add-btn:hover{
  background-color: var(--text-color);
}

.task input{
  border-bottom: 2px solid var(--border-color); 
  outline: none;            
  font-size: 16px;
}

.wrapper {
  width: 462px;
  margin: 10px 0;
  border: 2px solid var(--border-color);
  border-radius: 5px;
  padding: 10px;

  display: flex;
  align-items: center;
}

.checkbox {
  width: 16px;
  height: 16px;
  accent-color: var(--text-color);
  margin-right: 10px;
  cursor: pointer;
}

.taskText{
  font-size: 1.125rem;
  cursor: pointer;
}

.checkbox:checked + .taskText {
  text-decoration: line-through;
  color: var(--placeholder-color);
}

.delete {
  color: var(--text-color);
  margin-left: auto;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: transform 0.3s ease;
}

.delete:hover{
  transform: scale(1.5);
}

footer {
  margin-top: auto;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  text-align: left;
}

q{
  font-style: italic;
}

p{
  color: var(--placeholder-color);
}

.filter-btn {
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 5px 15px;
  margin: 10px;
  border: none;
  border-radius: 30px;
  background-color: var(--accent-color);
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-btn:hover{
  background-color: var(--accent-hover);
}

.filter-btn.active {
  background: var(--accent-hover);
}

@media screen and (max-width: 600px) {
  .container {
  width: 310px;
  }

  .input {
  width: 205px;
  }

  .wrapper {
  width: 260px;
  }
}
