* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;

  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */

  background-color: #f5f5f5; /* optional */
}
